.loader {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 76%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    z-index: 5;
}

.loader img {
    width: 13rem;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
    transition: .3s ease;
    animation: bouncing 1s linear infinite;
}

.loader .loader_text {
    display: flex;
    gap: 1rem;
}


.loader .loader_text .text {
    font-size: 1.5rem;
    color: #fff;
    animation: bouncing 1s infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes bouncing {
    0%, 40%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }
}