<article class="contact_text">
    <h2>Contacto</h2>
    <p>¿Tienes alguna pregunta o comentario? ¡Nos encantaría saber de ti!<br>
        Puedes contactarnos a través de correo electrónico a contac.trackmypricegmail.com, o simplemente completa el formulario de contacto a continuación y te responderemos lo antes posible.<br>
        ¡Gracias por tu interés en <strong>Track My Price</strong>!
    </p>
</article>
<section class="form_container">
    <form id="contact-form" action="" method="POST">
        <label for="name">*Nombre:</label>
        <input type="text" id="name" name="name_contact" required>
  
        <label for="email">*Correo Electrónico:</label>
        <input type="email" id="email" name="email_contact" required>
  
        <label for="phone">Teléfono:</label>
        <input type="tel" id="phone" name="phone_contact" pattern=".{7,15}">
  
        <label for="company">Empresa/Organización:</label>
        <input type="text" id="company" name="company_contact">
  
        <label for="message">*Mensaje:</label>
        <textarea id="message" name="message_contact" rows="4" required></textarea>
  
        <input type="submit" value="Enviar">
        <span>Los campos marcados con (*) son obligatorios.</span>
      </form>
  </section>