<header>
  <div class="toggle">
    <label class="menu_toggle" (click)="setupMenuToggle()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </label>
  </div>
  <div class="logo">
    <a href=""
      ><img src="assets/images/logo_white.png" alt="TrackMyPrice">
    </a>
  </div>
  <nav class="menu_container">
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/Nosotros">Nosotros</a></li>
      <li><a routerLink="/Contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

  