.description {
    width: 100%;
    padding: 5rem 25rem;
}

.description h2 {
    text-align: center;
    font-size: 3rem;
}

.description h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.monitor {
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
    margin: 0 17rem 5rem;
    border-radius: 8px;
    padding: 2rem;
}

.monitor .page_url {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.monitor .page_url input {
    width: 85%; 
    padding: .7rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2rem;
}

.monitor .page_url input:hover, 
.monitor .page_url input:focus, 
.monitor .alert_email .Send input:hover, 
.monitor .alert_email .Send input:focus, 
.monitor .alert_email .frequency select:hover,
.monitor .alert_email .frequency select:focus {
    border-color: var(--button_color);; 
    box-shadow: 0 0 5px rgba(126, 13, 22, 0.7); 
}

.monitor .page_url input::placeholder {
    font-size: 1.2rem;
}

.monitor .button_style {
    width: 15%;
    background-color: var(--button_color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitor .button_style:hover {
    background-color: var(--hover_color);
}

.monitor .page {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monitor .page span {
    font-size: 1rem;
}

.monitor .alert_email {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.monitor .alert_email div {
    display: flex;
    flex-direction: column;
}

.monitor .alert_email label {
    font-size: 1rem;
}

.monitor .alert_email .Send {
    width: 100% !important;
    margin: 0;
}

.monitor .alert_email .Send input {
    width: 100%; 
    padding: .7rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.monitor .alert_email .frequency {
    width: 20%;
    margin: 0;
}

.monitor .alert_email .frequency select {
    width: 100%; 
    padding: .88rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2rem;
}

.monitor .button_send {
    width: 100%;
    padding: .7rem; 
    background-color: var(--button_color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitor .button_send:hover {
    background-color: var(--hover_color);
}

/* Estilos información */
.card {
    display: flex;
    padding: 0 17rem 5rem;
    width: 100%;
    grid-template-columns: 25% 25% 25%
}

.card div {
    padding: 0 1rem;
    position: relative;
}

.card div figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card div figure img {
    width: 8rem;
    height: auto;
    margin-bottom: 2rem;
}

.card div article p {
    text-align: center;
    font-size: 1.2rem;
}

.card div article p strong {
    font-size: 1.5rem;
}

.img_next {
    position: absolute;
    top: -2rem;
    width: 8rem;
    height: 8rem;
    right: -4rem;
}


/* ESTILOS MODAL */

.modal_window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 2rem;
}

.disabled {
    display: none;
}

.modal_window .modal_container {
    width: 35rem;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
    gap: 1rem;
    position: relative;
}

.modal_window .modal_container_medium {
    width: 50rem !important;
}

.modal_window .modal_container img {
    width: 4rem;
    height: auto;
}

.modal_window .modal_container h2 {
    font-size: 2rem;
    text-align: center;
}

.modal_window .modal_container h3 {
    font-size: 1.5rem;
    text-align: center;
}

.modal_window .modal_container p {
    font-size: 1.5rem;
    text-align: center;
}

.modal_window .modal_container p.text {
    font-size: 1.1rem;
}

.modal_window .modal_container a {
    background-color: #3C0753;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    padding: 0.7rem 1.2rem;
    display: flex;
    justify-content: center;
}

.modal_window .modal_container .button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.modal_window .modal_container .button_container button {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 7rem;
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
}

.modal_window .modal_container .button_container button:first-child {
    background-color: gray;
}

.modal_window .modal_container .button_container button:first-child:hover {
    background-color: rgb(87, 86, 86);
}

.modal_window .modal_container .button_container button:last-child {
    background-color: var(--menu-color); 
}

.modal_window .modal_container .button_container button:last-child:hover {
    background-color: var(--hover_color); 
}

.modal_window .modal_container .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: auto;
    cursor: pointer;
}

@media screen and (max-width: 1550px) {
    .description {
        padding: 5rem 20rem;
    }

    .card {
        padding: 0px 14rem 5rem;
    }

    .monitor {
        margin: 0px 14rem 5rem;
    }
}

@media screen and (max-width: 990px) {
    .description,
    .card {
        padding: 5rem 8rem;
    }

    .card div article p {
        font-size: 1rem;
    }

    .monitor {
        margin: 0 8rem 5rem;
    }
}

@media screen and (max-width: 576px) {
    .description {
        padding: 2rem 2rem 1rem;
    }

    .description h2 {
        font-size: 1.5rem;
    }

    .description h3 {
        font-size: 1rem;
    }
    
    .monitor {
        margin: 0 1rem 2rem;
        padding: 1rem;
    }

    .monitor .page_url {
        flex-direction: column;
        gap: 0.5rem;
    }

    .monitor .page_url input ,
    .monitor .button_style {
        width: 100%;
        font-size: 1rem;
        padding: 0.7rem;
    }

    .monitor .alert_email {
        flex-direction: column;
    }

    .monitor .alert_email .Send,
    .monitor .alert_email .frequency {
        width: 100%;
    }

    .monitor .alert_email label {
        margin-bottom: 0.5rem;
    }

    .monitor .alert_email .Send input,
    .monitor .alert_email .frequency select,
    .monitor .button_send {
        font-size: 1rem;
    }

    .card {
        display: flex;
        padding: 3rem 5rem;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .card div figure img {
        width: 6rem;
        margin: 0 !important;
    }

    .card div article p {
        font-size: .8rem;
    }

    .card div article p strong {
        font-size: 1rem;
    }

    .img_next {
        display: none;
    }
}
