
<header>
    <h2>ACERCA DE NOSOTROS</h2>
</header>
<section class="container_privacy">
    <h3>Garantizamos la mejor oportunidad de compra siempre</h3>
    <p><strong>Historia:</strong> Fundada el 5 de enero de 2024, TrackMyPrice es una respuesta a la necesidad de hacer que cada compra en línea sea más inteligente y rentable.</p>
    <br>
    <p><strong>Valores:</strong>  Enfocamos nuestro trabajo en valores fundamentales como honestidad,
        confianza y rectitud. Creemos que estos principios son esenciales para construir
        relaciones sólidas con nuestros usuarios y garantizar la integridad en cada
        interacción.</p>
    <br>
    <p><strong>Diferenciación:</strong> Lo que nos distingue es nuestra capacidad para monitorear
        precios en una variedad de plataformas de comercio electrónico. A diferencia de
        otras herramientas, TrackMyPrice es tu solución general, brindándote la libertad de
        hacer compras inteligentes en múltiples sitios con un solo vistazo.
        </p>
    <br>
    <p><strong>¿Cómo Funcionamos?:</strong> TrackMyPrice te permite realizar compras de manera más
        inteligente al monitorear constantemente los precios en los sitios de comercio
        electrónico que elijas. Recibirás alertas personalizadas cuando los precios de tus
        productos favoritos bajen, brindándote la oportunidad de aprovechar las mejores
        ofertas.</p>
    <br>
    <p><strong>Visión a Largo Plazo:</strong> Aspiramos a ser tu aliado cotidiano en el emocionante
        mundo de las compras en línea. Nuestra visión a largo plazo es consolidarnos
        como una herramienta esencial que te ayuda a ahorrar dinero y tomar decisiones
        informadas en cada compra que realices en línea.</p>
    <br>
    <p><strong>Compromiso Social:</strong> Aunque no participamos actualmente en actividades sociales
        o proyectos de responsabilidad social corporativa, estamos enfocados en ofrecer
        un servicio excepcional y construir relaciones significativas con nuestra comunidad
        de usuarios.</p>
    <br>
    <p><strong>Logros:</strong> En este momento inicial de nuestras operaciones, estamos comprometidos
        a crecer y evolucionar. Aunque no contamos con logros destacados, cada paso que
        damos nos acerca a convertirnos en tu socio confiable para compras en línea.</p>  
    <br>
    <p>En TrackMyPrice, estamos emocionados por el viaje que tenemos por delante y
        esperamos ser parte de tu experiencia de compra inteligente.
        </p>
    <br>
    <p style="text-align: center; color: #000;"><strong>¡Gracias por elegir TrackMyPrice!</strong></p>
</section>
