.modal_window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 2rem;
}

.disabled {
    display: none;
}

.modal_window .modal_container {
    width: 35rem;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
    gap: 1rem;
    position: relative;
}

/* .modal_window .modal_container > :first-child {
    margin-left: auto;
} */

.modal_window .modal_container_medium {
    width: 50rem !important;
}

.modal_window .modal_container img {
    width: 4rem;
    height: auto;
}

.modal_window .modal_container h2 {
    font-size: 2rem;
    text-align: center;
}

.modal_window .modal_container h3 {
    font-size: 1.5rem;
    text-align: center;
}

.modal_window .modal_container p {
    font-size: 1.5rem;
    text-align: center;
}

.modal_window .modal_container p.text {
    font-size: 1.1rem;
}

.modal_window .modal_container a {
    background-color: #3C0753;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    padding: 0.7rem 1.2rem;
    display: flex;
    justify-content: center;
}

.modal_window .modal_container .button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.modal_window .modal_container .button_container button {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 7rem;
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
}

.modal_window .modal_container .button_container button:first-child {
    background-color: gray;
}

.modal_window .modal_container .button_container button:first-child:hover {
    background-color: rgb(87, 86, 86);
}

.modal_window .modal_container .button_container button:last-child {
    background-color: var(--menu-color); 
}

.modal_window .modal_container .button_container button:last-child:hover {
    background-color: var(--hover_color); 
}

.modal_window .modal_container .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: auto;
    cursor: pointer;
}

/* ============================================================ */
/* ======================== Responsive ======================== */
/* ============================================================ */

@media screen and (max-width: 576px) {
    .modal_window .modal_container {
        width: 85% !important;
        padding: 1rem;
        gap: 0.5rem;
    }

    .modal_window .modal_container img {
        width: 3rem;
    }

    .modal_window .modal_container h2 {
        font-size: 1.5rem;
    }

    .modal_window .modal_container h3 {
        font-size: 1.3rem;
    }

    .modal_window .modal_container p {
        font-size: 1rem;
    }

    .modal_window .modal_container .button_container{ 
        justify-content: space-evenly;
        gap: unset;
    }
    .modal_window .modal_container .button_container button {
        font-size: 1rem;
        width: 6rem;
        padding: 0.5rem 0;
    }

    .modal_window .modal_container a {
        font-size: 1rem;
    }

    .modal_window .modal_container .close {
        top: 0.5rem;
        right: 0.5rem;
        width: 1.5rem;
    }

    .form_title {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 400px) {
    .modal_window .modal_container {
        padding: 1rem;

    }
}