<header>
    <h2>Política de privacidad</h2>
</header>
<section class="container_privacy">
    <h3>1. Recopilación de Información del Usuario:</h3>
    <p>La plataforma recopila de manera segura el nombre y la dirección de correo electrónico a través del formulario de registro. No se recopilan datos automáticamente al simplemente visitar el sitio; no obstante, el uso del servicio requerirá la recopilación del correo electrónico.</p>
    <h3>2. Uso de la Información:</h3>
    <p>Este servicio enviará notificaciones al correo electrónico. Aunque eventualmente podrían enviarse comunicaciones promocionales, nuestro enfoque principal radica en informar sobre aspectos relacionados con el servicio.</p>
    <h3>3. Confidencialidad de la Información:</h3>
    <p>La información individual de los usuarios se considera confidencial y no se compartirá con terceros. No obstante, estadísticas agregadas podrían ser compartidas con aliados, siempre garantizando que estos datos no permitan, de ninguna manera, la identificación de los usuarios.</p>
    <h3>4. Seguridad de las Credenciales de Usuario:</h3>
    <p>Las credenciales de los usuarios son resguardadas bajo estrictos criterios de seguridad. Utilizamos bases de datos seguras y protegidas, administradas siguiendo el principio de mínimo acceso.</p>
    <h3>5. Cookies y Tecnologías Similares:</h3>
    <p>En la actualidad, no se recopila información automáticamente al visitar el sitio. En caso de futuros cambios que involucren el uso de cookies, notificaremos a los usuarios y proporcionaremos opciones para gestionar sus preferencias de cookies.</p>
    <h3>6. Acceso y Control:</h3>
    <p>Brindamos a los usuarios la capacidad de acceder y actualizar su información en sus perfiles de usuario. Asimismo, se facilitará un procedimiento para que los usuarios soliciten la eliminación de su información, si así lo desean.</p>
    <h3>7. Política con Respecto a Menores de Edad:</h3>
    <p>Este servicio no tiene la intención de recopilar información de menores de edad. No se recopila intencionalmente información de usuarios menores de 18 años.</p>
    <h3>8. Cambios en la Política de Privacidad:</h3>
    <p>Los usuarios serán notificados sobre cualquier modificación en la política de privacidad a través de nuestra página web. Cambios significativos se comunicarán de manera destacada, proporcionando la opción de revisar y aceptar la nueva política.</p>
    <h3>9. Cumplimiento Legal:</h3>
    <p>La plataforma se compromete a cumplir con todas las leyes de privacidad aplicables y a ajustarse a las regulaciones locales específicas.</p>
    <h3>10. Contacto:</h3>
    <p>Para consultas o inquietudes sobre privacidad, los usuarios pueden ponerse en contacto con nuestro equipo dedicado a través de privacytest.com.</p>
    <br><br><br><br>
    <p>Esta política de privacidad está sujeta a cambios y cualquier modificación será reflejada en esta página. Se recomienda revisar periódicamente esta política para estar al tanto de las actualizaciones.</p>
</section>