/* ========== ResetCSS ========== */
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
tr,
select,
input {
    appearance:inherit; 
    -moz-appearance:inherit; 
    -webkit-appearance:inherit; 
    background:transparent; 
    border:none; 
    border-radius:0; 
    box-sizing: border-box; 
    margin:0; 
    outline:0; 
    padding:0; 
    text-decoration:none;
    list-style: none;
    font-family: var(--main_font);
    color: inherit;
}

/* ========== Variables ========== */
:root {
    /* Tamaño objetos */
    font-size: 15px;
    /* ===== Variables de color ===== */
    --menu-color: #3C0753;
    --main_color: #030637;
    --hover_color: #720455;
    --thead_color : #074d701f;
    --button_color : #910A67;
    --footer_color : #f7f8fb;
    --success: #3ab65c;
    --error: #bf333b;
    --info: #1898c0;
    --warning: #bc8c12;
    /* ===== Variables de fuentes ===== */
    --main_font: 'Poppins', sans-serif;
    --fuente-secundaria: "Times New Roman, serif";
}

/* ================================================================
   ========================= Estilos main =========================
   ================================================================ */

    /* Contenedor principal */
    main{
        padding-top: 4rem;
    }
    /* ============================================================ */
/* ======================== Responsive ======================== */
/* ============================================================ */
@media screen and (max-width: 1800px) {
    :root {
        font-size: 14px !important;;
    }
}

@media screen and (max-width: 1550px) {
    :root {
        font-size: 13px !important;;
    }
}

@media screen and (max-width: 1290px) {
    :root {
        font-size: 12px !important;;
    }
}

@media screen and (max-width: 1170px) {
    :root {
        font-size: 11px !important;;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 10px !important;;
    }
}

@media screen and (max-width: 990px) {
    :root {
        font-size: 11px !important;;
    }
}

@media screen and (max-width: 899px) {
    :root {
        font-size: 10px !important;;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 9px !important;;
    }
}

@media screen and (max-width: 699px) {
    :root {
        font-size: 8px !important;;
    }
}

@media screen and (max-width: 576px) {
    :root {
        font-size: 19px !important;
        
    }
    main{
        padding: 3rem 0;
    }
}

@media screen and (max-width: 500px) {
    :root { 
        font-size: 18px !important;;
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 16px !important;;
    }
}

@media screen and (max-width: 375px) {
    :root {
        font-size: 14px !important;;
    }
}