footer {
    background-color: var(--footer_color);
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

footer p {
    color: rgb(152 153 155);
}

footer div {
    display: flex;
    gap: 2rem;
}

footer div span,
footer div a {
    color: var(--button_color);
    cursor: pointer;
}

footer div span:hover,
footer div a:hover {
    color: var(--hover_color);
}